.blog-posts {
	margin: 0;
	padding: 0;
}

	.blog-posts li {
		list-style: none;
	}
		.blog-posts .jumbotron {
			padding: 1px 0 2px 12px;
		}
		.blog-posts .jumbotron h4 {
			padding-left: 6px;
		}
		.blog-posts .jumbotron h4 a {
			margin-right: 8px;
		}
		
		.blog-posts li .view_content {
			margin-left: 16px;
		}
		.blog-posts li p {
			padding-top: 0;
			min-height: 80px;
		}
		